
.metadata/
hw2/bin/*
.metadata/.plugins/org.eclipse.core.resources/.snap

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.debug.core/.launches/hw1.launch

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

hw2/bin/classes/mnatzakanian/zaven/hw2/R.class

.metadata/.plugins/org.eclipse.core.resources/.projects/hw1/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/hw1/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
